.container {
  --height: 48px;
  --padding-left: 20px;
  --border-width: 2px;
  --border: var(--border-width) solid var(--accent-color);
  --border-radius: 28px;
  --animation-duration: 300ms;
  --animation-curve: cubic-bezier(0, 1.26, 0.7, 0.96);

  position: relative;
}

.button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  height: var(--height);
  padding-right: 14px;
  padding-left: var(--padding-left);

  background-color: #FFF;
  border: var(--border);
  border-radius: var(--border-radius);
}

.text {
  font-size: 1.5rem;
  line-height: 125%;
}

.button:hover > .text {
  color: var(--text-hover-color);
}

.arrow {
  width: 28px;
  transition: transform var(--animation-duration) var(--animation-curve);
}

.button:focus > .arrow {
  transform: rotateX(180deg);
}

.menu {
  pointer-events: none;

  position: absolute;
  top: calc(var(--height) - var(--border-width)); /* для того чтобы рамки наслаивались друг на друга и получалась рамка одной толщины */
  left: 0;

  display: flex;
  flex-direction: column;
  gap: 16px;

  min-width: 100%;
  padding: var(--padding-left);

  opacity: 0;
  background-color: var(--asteroid-page-background-color);
  background-color: #FFF;
  border: var(--border);
  border-radius: var(--border-radius);

  transition: opacity var(--animation-duration) var(--animation-curve);
}

.button:focus + .menu {
  pointer-events: all;
  opacity: 1;
}

.menu_item {
  cursor: pointer;
  font-size: 1.5rem;
  line-height: 125%;
}

.menu_item:hover {
  color: var(--text-hover-color);
}
